body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img {
  width: 100%;
}

/* Mobil first, Gömmer 5 eller mer kort! */
.product-card:nth-child(n+5) {
  display: none;
}

/* För tablets och större skärmar visas alla kort */
@media (min-width: 640px) {
  .product-card:nth-child(n+5) {
    display: block;
  }
}
